body {
<<<<<<< HEAD
    background: #F0F8FF;
}
ul {
    list-style: none;
    display: inline-flex;
}   
ul > li > a {
    text-decoration: none;
=======
    background: #999;
>>>>>>> 9d05c6dfd4e8b6442945d64a6579ea0cdfa37f7d
}